* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* navigation bar  */

nav {
    background-color: #f27340;
    text-align: right;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    
}

a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li {
    display: inline;
    
    padding-right: 400px;
    
}

/* Header Section */

header {
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: right;
    padding: 400px 200px 200px 1000px;
    
}

header>h1 {
    font-size: 60px;
}

header>p {
    margin-top: 15px;
}

.btn-primary {
    background-color: #f27340;
    border: none;
    border-radius: 5%;
    color: #ffffff;
    width: 170px;
    height: 70px;
    font-size: 23px;
    font-weight: 800;
    margin: 30px 0 100px;
}

/* Happy Section  */

.happy-section {
    display: flex;
}

.happy-container {
    margin: 200px 150px 100px 100px; 

}

.section-title {

    font-size: 40px;
    font-weight: 700;
    padding: 50px 0;
}

.section-para {
    padding-bottom: 50px;
    font-size: 1.5em;
}

main ul li {
    padding: 10px 0;
    font-size: 18px;
    
}

#woman-img {
    margin: 100px 0 100px 150px;
    padding-left: 150px;
}

/* Goal section  */

.goal-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 300px;
}

.goal-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 50px 0;
}

#icon1 {
    margin-left: 90px;
}

#icon2 {
    margin-left: 25px;
}

#icon3 {
    margin-left: 50px;
}

#icon4 {
    margin-left: 40px;
}

h3.skill {
    font-size: 25px;
    letter-spacing: 3px;
}

h4.skill-sub{
    color: #737272;
    text-align: center;
}