* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* navigation bar  */

nav {
    background-color: #f27340;
    text-align: right;
    color: #ffffff;
    font-size: 25px; 
}

nav ul {
    display: flex;
    list-style-type: none;
    
    
}

#site-logo {
    padding: 10px 5px;
}

nav ul li {
    
   padding-top: 25px;
   padding-left: 450px;
    
    
      
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Header Section */

header {
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: right;
    padding: 300px 200px 200px 1000px;
    
}

header>h1 {
    font-size: 64px;
}

header>p {
    margin-top: 15px;
}

.btn-primary {
    background-color: #f27340;
    border: none;
    border-radius: 5%;
    color: #ffffff;
    width: 170px;
    height: 70px;
    font-size: 23px;
    font-weight: 800;
    margin: 30px 0 100px;
}

/* Happy Section  */

.happy-section {
    display: flex;
}

.happy-container {
    margin: 200px 150px 100px 100px; 

}

.section-title {

    font-size: 40px;
    font-weight: 700;
    padding: 50px 0;
}

.section-para {
    padding-bottom: 50px;
    font-size: 1.5em;
}


main ul li {
    padding: 10px 0;
    font-size: 18px;
    
}

#woman-img {
    margin: 100px 0 100px 150px;
    padding-left: 150px;
}

/* Goal section  */

.goal-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 300px;
}

.goal-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 50px 0;
}

/* Icons Section  */

#icon-web-development {
    margin-left: 90px;
}

#icon-Js {
    margin-left: 25px;
}

#icon-Smoking {
    margin-left: 50px;
}

#icon-esite {
    margin-left: 40px;
}

/* skill titles  */

h3.skill {
    font-size: 25px;
    padding: 8px 0;
    letter-spacing: 3px;
}

h4.skill-sub{
    color: #737272;
    text-align: center;
}


/* Gradient section  */

.gradient-background {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png) ;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    padding: 100px 0;
    margin-top: 150px;
    margin-bottom: 150px;

}

.gradient-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    margin-right: 400px;
    padding: 15px 400px 30px; 
}

.btn-gradient {
    color: #F15B22;
    background-color: #ffffff;
    margin-left: 400px;
    border: none;
    border-radius: 5%;
    width: 150px;
    height: 50px;   
    font-size: 22px;
}

/* footer Section */

footer {
    background-color: #151414;
    display: flex;
    justify-content: space-evenly;
}

.contact-info {
    color:  #F8F8F8;
    padding-top: 100px;
}

.contact-info p {
    padding: 8px 0;
}

.contact-info img {
    padding: 10px 10px 50px;
}

.contact-info h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

input[type=email] {
    margin: 80px 0;
    height: 32px;
    width: 250px;
    background-color: #151414;
    color: #F3F3F3;
    border: solid 1px;
}


input[type=submit] {
    border: none;
    border-radius: 2%;
    color: #F15B22;
    padding: 8px 32px;
    text-decoration: none;
    margin: 5px 2px;
    font-weight: 600;
    font-size: 18px;
}

